*{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    
}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    border-style: none;
}
.img :hover{
    border: 8px solid black;
    transition: 0.1s ease-in-out;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin-top:30px;
}
.score-board p{
    font-size: 25px;
}
.msg1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.msg{
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    color: white;
}
.hide{
    display: none;
}

.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.reset p{
    background-color: red;
    font-size: large;
    padding: 2px 10px;
    color: whitesmoke;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}